body {
  background-color: rgb(147, 223, 103);
  color: black;
}
h1 {
  color: darkorange;
  font-size: 32px;
}
p {
  color: greenyellow;
  font-size: 12px;
}
ul {
  list-style-type: none;
}
.red {
  color: rgb(226, 30, 30);
}
.pink {
  color: lightpink;
}
#a1:hover {
  color: aquamarine;
}
